{{#each products}}
<div class="card mb-3">
    <div class="card-header h3 text-center font-weight-bold">Equipo</div>
    <div class="card-body font-italic">
        <ul class="list-group m-3">
            <li class="list-group-item"><span class="font-weight-bold">Marca</span>: {{productBrand}}</li>   
            <li class="list-group-item"><span class="font-weight-bold">Modelo</span>: {{productModel}}</li>
            <li class="list-group-item"><span class="font-weight-bold">Estado de reparacion: </span>{{status}}</li>
            <li class="list-group-item"><span class="font-weight-bold">Fecha de reparacion: </span>{{productDate}}</li>
            <li class="list-group-item"><span class="font-weight-bold">Comentarios del producto: </span>{{productCommentary}}</li>
        </ul>
    </div>
    <div class="card-footer">
        <form method="POST" action="/customers/{{../customerId}}/delete-product/{{_id}}?_method=DELETE">
            <a class="btn btn-primary btn-lg" href="/customers/edit-product/{{../customerId}}/{{_id}}" role="button">Editar Equipo</a>
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit" class="btn btn-danger btn-lg" id="deleteButton"
                onclick="return confirm('Estas seguro de borrar el producto?')">Eliminar</button>
        </form>
    </div>
</div>
{{/each}}

<a href="javascript:history.back()" class="btn btn-block btn-primary btn-lg mt-1 mb-5 active" role="button"
    aria-pressed="true">Atras</a>