<a href="/" class="btn btn-primary btn-lg active btn-block my-2" role="button" aria-pressed="true">Atras</a>
{{#each search}}
<ul class="list-group">
    <!--<li class="list-group-item">{{id}}</li>-->
    <li class="list-group-item">{{name}}</li>
    <li class="list-group-item">{{lastname}}</li>
    <li class="list-group-item">{{adress}}</li>
    <li class="list-group-item">{{city}}</li>
    <li class="list-group-item">{{phoneNumber}}</li>
    <li class="list-group-item">{{productBrand}}</li>
    <li class="list-group-item">{{status}}</li>
    <li class="list-group-item">{{commentary}}</li>
</ul>
<br>
{{/each}}