<div class="container -md">
    <form action="/customers/edit/{{value._id}}?_method=PUT" method="POST">
    
        <div class="row">
            <div class="col form-group">
                <label for="name">Nombre</label>
                <input type="text" class="form-control" name="name" value="{{value.name}}">
            </div>
            <div class="col form-group">
                <label for="name">Apellido</label>
                <input type="text" class="form-control" name="lastname" value="{{value.lastname}}">
            </div>

        </div>
        <hr class="my-4">
        <div class="row">
            <div class="col form-group">
                <label for="adress">Direccion</label>
                <input type="text" class="form-control" name="adress" id="adress" value="{{value.adress}}">
            </div>
            <div class="col form-group">
                <label for="city">Localidad</label>
                <input type="text" class="form-control" name="city" id="city" value="{{value.city}}">
            </div>
        </div>
        <hr class="my-4">
        <div class="row">
            <div class="col-6">
                <label for="phone">Telefono</label>
                <input type="text" class="form-control" name="phoneNumber" id=phone value="{{value.phoneNumber}}">
            </div>
        </div>
        <hr class="my-4">
        <div class="row">
            <div class="col">
                <label for="productBrand">Marca</label>
                <input type="text" class="form-control" name="productBrand" id="brand" value="{{value.productBrand}}">
            </div>
            <div class="col">
                <label for="productModel">Modelo</label>
                <input type="text" class="form-control" name="productModel" id="productModel" value="{{value.productModel}}">
            </div>
        </div>
        <hr class="my-4">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="status" id="option1" value="in revision">
            <label class="form-check-label" for="option1">
                En revision
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="status" id="option2" value="repaired">
            <label class="form-check-label" for="option2">
                Reparado
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="status" id="option3" value="Something">
            <label class="form-check-label" for="exampleRadios3">
                Consulta
            </label>
        </div>
        <hr class="my-4">
        <div class="form-group">
            <label for="obs">Comentarios</label>
            <textarea class="form-control" name="commentary" id="obs" rows="3">{{value.commentary}}</textarea>
        </div>
        <hr class="my-4">
        <button type="submit" class="btn btn-primary btn-lg">Aceptar</button>
        <a href="/" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Atras</a>
    </form>
</div>