{{#if errors}}
<div class="container -md">
    <form action='/customers/submit-client' method="post">
        <div class="row">
            <div class="col form-group">
                <label for="name">Nombre</label>
                <input type="text" class="form-control" name="name" value="{{name}}">
            </div>
            <div class="col form-group">
                <label for="name">Apellido</label>
            <input type="text" class="form-control" name="lastname" value="{{lastname}}">
            </div>

        </div>
        <hr class="my-4">
        <div class="row">
            <div class="col form-group">
                <label for="adress">Direccion</label>
                <input type="text" class="form-control" name="adress" id="adress" value="{{adress}}">
            </div>
            <div class="col form-group">
                <label for="city">Localidad</label>
            <input type="text" class="form-control" name="city" id="city" value="city">
            </div>
        </div>
        <hr class="my-4">
        <div class="row">
            <div class="col-6">
                <label for="phone">Telefono</label>
                <input type="text" class="form-control" name="phoneNumber" id="phone" value="{{phoneNumber}}">
            </div>
        </div>
        <hr class="my-4">
        <div class="row">
            <div class="col">
                <label for="productBrand">Marca</label>
                <input type="text" class="form-control" name="productBrand" id="brand" value="{{productBrand}}">
            </div>
            <div class="col">
                <label for="productModel">Modelo</label>
                <input type="text" class="form-control" name="productModel" id="productModel" value="{{productModel}}">
            </div>
        </div>
        <hr class="my-4">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="status" id="option1" value="in revision" checked>
            <label class="form-check-label" for="option1">
                En revision
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="status" id="option2" value="repaired">
            <label class="form-check-label" for="option2">
                Reparado
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="status" id="option3" value="Something">
            <label class="form-check-label" for="exampleRadios3">
                Consulta
            </label>
        </div>
        <hr class="my-4">
        <div class="form-group">
            <label for="obs">Comentarios</label>
            <textarea class="form-control" name="commentary" id="obs" rows="3">{{commentary}}</textarea>
        </div>
        <hr class="my-4">
        <button type="submit" class="btn btn-primary btn-lg">Agregar</button>
        <a href="/" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Atras</a>
    </form>
</div>


{{else}}
<!--MODIFICAR ESTO NO ME GUSTA REPETIR CODIGO SOLO PARA TENER LOS CAMPOS RELLENADOS DE NUEVO-->
<div class="container -md">
    <form action='/customers/submit-client' method="post">
        <div class="row">
            <div class="col form-group">
                <label for="name">Nombre</label>
                <input type="text" class="form-control" name="name">
            </div>
            <div class="col form-group">
                <label for="name">Apellido</label>
                <input type="text" class="form-control" name="lastname">
            </div>

        </div>
        <hr class="my-4">
        <div class="row">
            <div class="col form-group">
                <label for="adress">Direccion</label>
                <input type="text" class="form-control" name="adress" id="adress">
            </div>
            <div class="col form-group">
                <label for="city">Localidad</label>
                <input type="text" class="form-control" name="city" id="city">
            </div>
        </div>
        <hr class="my-4">
        <div class="row">
            <div class="col-6">
                <label for="phone">Telefono</label>
                <input type="text" class="form-control" name="phoneNumber" id=phone>
            </div>
        </div>
        <hr class="my-4">
        <div class="row">
            <div class="col">
                <label for="productBrand">Marca</label>
                <input type="text" class="form-control" name="productBrand" id="brand">
            </div>
            <div class="col">
                <label for="productModel">Modelo</label>
                <input type="text" class="form-control" name="productModel" id="productModel">
            </div>
        </div>
        <hr class="my-4">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="status" id="option1" value="in revision" checked>
            <label class="form-check-label" for="option1">
                En revision
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="status" id="option2" value="repaired">
            <label class="form-check-label" for="option2">
                Reparado
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="status" id="option3" value="Something">
            <label class="form-check-label" for="exampleRadios3">
                Consulta
            </label>
        </div>
        <hr class="my-4">
        <div class="form-group">
            <label for="obs">Comentarios</label>
            <textarea class="form-control" name="commentary" id="obs" rows="3"></textarea>
        </div>
        <hr class="my-4">
        <button type="submit" class="btn btn-primary btn-lg">Agregar</button>
        <a href="/" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Atras</a>
    </form>
</div>

{{/if}}

{{#each errors}}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{text}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

{{/each}}