{{#each search}}
<div class="card mb-2">
    <div class="card-header h3 text-center font-weight-bold">Cliente</div>
    <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item"><span class="font-weight-bold">Nombre</span>: {{name}}</li>
            <li class="list-group-item"><span class="font-weight-bold">Apellido</span>: {{lastname}}</li>
            <li class="list-group-item"><span class="font-weight-bold">Direccion</span>: {{adress}}</li>
            <li class="list-group-item"><span class="font-weight-bold">Ciudad</span>: {{locality}}</li>
            <li class="list-group-item"><span class="font-weight-bold">Telefono</span>: {{phoneNumber}}</li>
            <li class="list-group-item"><span class="font-weight-bold">Comentarios</span>: {{commentary}}</li>
        </ul>
    </div>
    <div class="card-footer">
        <form method="POST" action="/customers/delete-customer/{{_id}}?_method=DELETE">
            <a class="btn btn-info btn-lg" href="/customers/{{_id}}/products" role="button">Ver equipos</a>
            <a class="btn btn-info btn-lg" href="/customers/edit-customer/{{_id}}" role="button">Editar cliente</a>
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit" class="btn btn-danger btn-lg" id="deleteButton"
                onclick="return confirm('Estas seguro de borrar el cliente?')">Eliminar</button>
        </form>
    </div>
</div>
{{/each}}

{{#if search}}
<a href="javascript:history.back()" class="btn-block btn-primary btn-lg active text-center mt-2 mb-5" role="button"
    aria-pressed="true">Atras</a>
{{/if}}