{{#each search}}
<div class="container">
    <ul class="list-group m-3">
        <!--<li class="list-group-item">{{id}}</li>-->
        <li class="list-group-item">{{name}}</li>
        <li class="list-group-item">{{lastname}}</li>
        <li class="list-group-item">{{adress}}</li>
        <li class="list-group-item">{{city}}</li>
        <li class="list-group-item">{{phoneNumber}}</li>
        <li class="list-group-item">{{productBrand}}</li>
        <li class="list-group-item">{{status}}</li>
        <li class="list-group-item">{{commentary}}</li>
    </ul>
    <div class="container">
        <form method="POST" action="/customers/delete-customer/{{_id}}?_method=DELETE">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit" class="btn btn-danger btn-lg">Eliminar</button>
        
            <button type="button" class="btn btn-secondary btn-lg"><a href="/customers/edit-customer/{{_id}}">Editar cliente</a></button>
        
    </div>
</div>

</div>
<br>
{{/each}}
{{#if search}}
<a href="/customers/search-customers" class="btn btn-secondary btn-lg active" role="button"
    aria-pressed="true">Atras</a>
{{/if}}